body {
  font-family: 'Quicksand', sans-serif;
  font-size: calc(1.100rem + 0.03vw);
  position: relative;
}

section:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 75px;
  visibility: hidden;
}

.heading::before {
  content: "";
  height: 20px;
  width: 20px;
  border: solid #c5722a;
  display: inline-block;
  border-width: 10px 0px 0px 10px;
  position: relative;
  top: -27px;
}

.heading::after {
  content: "";
  height: 20px;
  width: 20px;
  border: solid #c5722a;
  display: inline-block;
  border-width: 0px 10px 10px 0px;
  position: relative;
  top: 20px;
}

nav {
  font-size: 1.1rem;
}

h1 {
  font-size: calc(1.375rem + 1.5vw); }
  @media (min-width: 1200px) {
    h1 {
      font-size: 2.5rem; } }

h3 {
  font-size: calc(1.3rem + 0.6vw); }
  @media (min-width: 1200px) {
    h3 {
      font-size: 1.75rem; } }

.secondary-color {
  color: #2d292d;
}

.primary-color {
  color: #c5722a;
}

.top-bordered {
  content: "";
  height: 20px;
  width: 20px;
  border: solid #c5722a;
  display: inline-block;
  border-width: 10px 0px 0px 10px;
  position: absolute;
  left: -4px;
  top: -10px;
}

.bottom-bordered {
  content: "";
  height: 20px;
  width: 20px;
  border: solid #c5722a;
  display: inline-block;
  border-width: 0px 10px 10px 0px;
  position: absolute;
  bottom: -4px;
}

a {
  color: #c5722a;
}

a:hover {
  color: #a76124;
}

.badge-primary {
  background-color: #2d292d;
}

.seperator {
  width: 15px;
  height: 15px;

}
